/* цвет основного текста - #757575 */
/* Вторичный цвет текста - #212121 */
/* основной цвет фона - #FFFFFF */
/* вторичный цвет фона - #F5F4FA */
/* цвет фона footer - #2F303A */
/* акцент - #2196F3 */

:root {
  --logo-color: #000000;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --accent-color: #2196f3;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

/* Site-nav */
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.site-nav.list {
  list-style: none;
}

.mail,
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
  cursor: pointer;
}
